.badge {
    margin: 10px 0 30px;
    padding: 10px 15px;
    border: 1px solid $black;
    border-radius: 50px;
    background: $black;
    color: $white;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

    @each $name, $hexa in $colors {
        &.#{$name} {
            border: 1px solid $hexa;
            background: $hexa;

            &.outline {
                background: transparent;
                color: $hexa;
            }
        }
    }
}
