.bordered-block {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    transition: box-shadow .4s ease, transform .4s ease;
    border-radius: 4px;
    background: $white;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);

    &:hover {
        transform: translate3d(0, -3px, 0);
        transition: box-shadow .4s ease, transform .4s ease;
        box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 8px 12px rgba(39, 44, 49, .04);
    }

    .bordered-block-title {
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 100%;
        margin: 0 0 30px;
        color: $black;
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
    }

    p.bordered-block-description,
    blockquote.bordered-block-description {
        flex: 1 1 auto;
        width: 100%;
        margin: 0 0 30px;
        text-align: center;
    }

    ul.bordered-block-description {
        flex: 1 1 auto;
        margin: 0 0 30px;
    }

    .bordered-block-background-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: .07;
        color: $black;
        font-size: 120px;
        pointer-events: none;
        filter: blur(2px);
    }

    .bordered-block-icon {
        margin: 0 10px 0 0;
        color: $black;
        font-size: 22px;
    }

    .bordered-block-button {
        width: 100%;
        white-space: normal;

        &.centered {
            width: auto;
        }
    }

    @each $name, $hexa in $colors {
        &.#{$name} {
            border-top: 4px solid transparentize($hexa, .2);

            .bordered-block-title {
                color: $hexa;
            }

            .bordered-block-background-icon {
                color: $hexa;
            }

            .bordered-block-icon {
                color: $hexa;
            }
        }
    }
}
