@use "../variables";
@use "sass:color";

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    transition: box-shadow .4s ease, transform .4s ease;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);

    &:hover {
        transform: translate3d(0, -3px, 0);
        transition: box-shadow .4s ease, transform .4s ease;
        box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 8px 12px rgba(39, 44, 49, .04);
        text-decoration: none;
    }

    @each $name, $hexa in variables.$colors {
        &.#{$name} > .card-illustration {
            background: $hexa;
        }
    }
}

.card-illustration {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    border-radius: 4px 4px 0 0;
    height: 175px;
}

.card-title {
    flex: 0 0 auto;
    margin: 0;
    padding: 15px 20px;
    border-radius: 0 0 4px 4px;
    background: variables.$white;
    color: variables.$grey;
    font-size: 18px;
    font-weight: 600;
}

.svg-illustration-developer-guide-fill {
    fill: variables.$developer-guide;
}

.svg-illustration-developer-guide-stop-color {
    stop-color: variables.$developer-guide;
}
