@use "../variables";
@use "sass:color";

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    transition: box-shadow .4s ease, transform .4s ease;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .06), 1px 3px 8px rgba(39, 44, 49, .03);

    &:hover {
        transform: translate3d(0, -3px, 0);
        transition: box-shadow .4s ease, transform .4s ease;
        box-shadow: 8px 28px 50px rgba(39, 44, 49, .07), 1px 8px 12px rgba(39, 44, 49, .04);
        text-decoration: none;
    }

    .card-illustration {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        padding: 30px 20px;
        border-radius: 4px 4px 0 0;

        > img {
            flex: 0 1 auto;
            margin: 0;
        }
    }

    .card-title {
        flex: 0 0 auto;
        margin: 0;
        padding: 15px 20px;
        border-radius: 0 0 4px 4px;
        background: variables.$white;
        color: variables.$grey;
        font-size: 18px;
        font-weight: 600;
    }

    @each $name, $hexa in variables.$colors {
        &.#{$name} > .card-illustration {
            background: linear-gradient(45deg, color.adjust($hexa, $lightness: -5%), color.adjust($hexa, $lightness: 15%));
        }
    }
}
