.features-menu {
    display: flex;
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 50px;

    @media screen and (max-width: #{$tiny-screen-size}) {
        flex-wrap: wrap;
    }
}

.features-menu-item {
    margin: 0 20px;
    padding: 0 0 6px;
    border-bottom: 2px solid transparent;
    color: darken($white, 8%);
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active,
    &.active {
        text-decoration: none;

        @each $name, $hexa in $colors {
            &.#{$name} {
                border-bottom-color: $hexa;
                color: lighten($hexa, 7%);
            }
        }
    }

    @media screen and (max-width: #{$tiny-screen-size}) {
        margin: 10px 20px;
    }
}
