@use "../variables";
@use "sass:color";

label {
    display: block;
    flex: 0 0 auto;
    margin: 0 0 5px;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    cursor: pointer;

    > .fa-asterisk {
        position: relative;
        top: -3px;
        left: 3px;
        color: variables.$red;
        font-size: 8px;
    }

    > input[type="checkbox"] {
        margin: 4px 8px 45px 0;
        float: left;
    }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea {
    $input-transition: 100ms;

    width: 100%;
    padding: 12px;
    transition: border-color $input-transition, box-shadow $input-transition;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: variables.$white;
    color: variables.$black;
    font-family: inherit;
    font-size: 16px;

    &:hover {
        transition: border-color $input-transition, box-shadow $input-transition;
    }

    &:focus,
    &:active {
        transition: border-color $input-transition, box-shadow $input-transition;
        box-shadow: inset 0 0 2px color.scale(variables.$black, $alpha: -70%);
    }

    &::placeholder {
        color: #bbbbbb;
    }
}

select {
    height: 48px;
    padding: 5px 12px;
}
