label {
    display: block;
    flex: 0 0 auto;
    margin: 0 0 5px;
    color: #666666;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    cursor: pointer;

    > .fa-asterisk {
        position: relative;
        top: -3px;
        left: 3px;
        color: $red;
        font-size: 8px;
    }

    > input[type="checkbox"] {
        margin: 4px 8px 45px 0;
        float: left;
    }
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
select,
textarea,
.stripe-input {
    $input-transition: 100ms;

    width: 100%;
    padding: 12px;
    transition: border-color $input-transition, box-shadow $input-transition;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: $white;
    color: $black;
    font-family: inherit;
    font-size: 16px;

    &:hover {
        transition: border-color $input-transition, box-shadow $input-transition;
    }

    &:focus,
    &:active {
        transition: border-color $input-transition, box-shadow $input-transition;
        box-shadow: inset 0 0 2px transparentize($black, .7);
    }

    // scss-lint:disable VendorPrefix
    &::-webkit-input-placeholder {
        color: #bbbbbb;
    }

    &::-moz-placeholder {
        color: #bbbbbb;
    }

    &:-ms-input-placeholder {
        color: #bbbbbb !important;
    }

    &::placeholder {
        color: #bbbbbb;
    }

    @keyframes bounceIn {
        0%   { transform: translateX(0); }
        50%  { transform: translateX(-5px); }
        100%  { transform: translateX(5px); }
    }

    &.bounce-error {
        animation: bounceIn 200ms 3 ease-in-out;
        border-color: $red;
    }
}

select {
    height: 48px;
    padding: 5px 12px;
}

.togglable-password {
    position: relative;

    > .toggle-password {
        position: absolute;
        z-index: 2;
        top: 40px;
        right: 15px;
        color: #666666;
        cursor: pointer;
    }

    > input {
        padding-right: 40px;
    }
}

.troll-field {
    display: none !important;
}

.stacked-form {
    display: flex;
    flex-direction: column;
}

.stacked-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stacked-form-row {
    display: flex;
    justify-content: space-around;
    width: 100%;

    @media screen and (max-width: #{$mobile-screen-size}) {
        flex-direction: column;
    }

    &.equal-sizes > .stacked-form-element {
        flex: 1;
    }

    > .stacked-form-element {
        flex: 1 1 auto;
        margin: 0 0 20px 20px;

        &:first-child {
            margin: 0 0 20px;
        }
    }

    &.hidden {
        display: none;
    }
}

.stacked-form-element {
    flex: 0 0 auto;
    width: 100%;
    margin: 0 0 20px;

    @each $name, $hexa in $colors {
        &.#{$name} {
            label > a {
                color: $hexa;
            }

            input[type="text"],
            input[type="email"],
            input[type="password"],
            textarea {
                &:hover {
                    border-color: $hexa;
                }

                &:focus,
                &:active {
                    border-color: darken($hexa, 5%);
                }
            }
        }
    }

    &.hidden {
        display: none;
    }

    .text-info {
        display: block;
        margin: 7px 0 0;
        color: $light-blue;
        font-size: 13px;
        line-height: 18px;

        > .fa {
            margin: 0 3px 0 0;
        }

        @each $name, $hexa in $colors {
            &.#{$name} {
                color: transparentize($hexa, .1);
            }
        }
    }
}

.stacked-form-element-checkbox {
    width: 100%;
    margin: 0 0 10px;

    @each $name, $hexa in $colors {
        &.#{$name} {
            label > a {
                color: $hexa;
            }
        }
    }
}

.stacked-form-element-prepend-append {
    display: flex;

    > .prepend,
    > .append {
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        padding: 0 10px;
        border: 1px solid #cccccc;
        font-size: 13px;
        text-align: center;
    }

    > .prepend {
        border-right: 0;
        border-radius: 3px 0 0 3px;
    }

    > .append {
        border-left: 0;
        border-radius: 0 3px 3px 0;
    }

    input[type="text"] {
        flex: 1 1 auto;
        border-radius: 0;
    }

    @each $name, $hexa in $colors {
        &.#{$name} {
            > .prepend,
            > .append {
                background-color: transparentize($hexa, .9);
                color: $hexa;
            }
        }
    }
}

.stacked-form-submitting,
.stacked-form-success,
.stacked-form-error,
.stacked-form-custom-error {
    @keyframes bounce {
        0%   { transform: scale(1);   }
        40%  { transform: scale(1.8); }
        70%  { transform: scale(.7);  }
        100% { transform: scale(1);   }
    }

    display: none;
    width: 100%;
    padding: 20px;
    line-height: 26px;
    text-align: center;

    &.shown {
        display: block;
    }

    &.bounce {
        > .fa {
            animation: 500ms ease-in-out bounce;
        }
    }

    > .fa {
        margin: 0 0 10px;
        font-size: 30px;
    }

    p {
        color: $white;
    }

    a {
        color: $white;
        text-decoration: underline;
    }
}

.stacked-form-submitting {
    background: transparentize($light-blue, .85);
    color: $light-blue;
}

.stacked-form-success {
    background: transparentize($green, .85);
    color: $green;
}

.stacked-form-error,
.stacked-form-custom-error {
    background: transparentize($red, .85);
    color: $red;
}

.stacked-form-button {
    flex: 0 0 auto;
    width: 100%;
    cursor: pointer;

    > .loading-message,
    > .thank-you-message {
        display: none;
    }

    &.hidden {
        display: none;
    }

    &.loading {
        > .loading-message {
            display: inline-block;
        }

        > .thank-you-message,
        > .submit-message {
            display: none;
        }
    }

    &.thank-you {
        border-color: $green;
        background: $green;

        > .thank-you-message {
            display: inline-block;
        }

        > .loading-message,
        > .submit-message {
            display: none;
        }
    }
}

.stacked-form-inline-error {
    display: none;
    position: relative;
    margin: 10px 0 0 15px;
    padding: 0 0 0 20px;
    color: $red;
    font-size: 14px;

    &.shown {
        display: block;
    }

    &::before {
        content: '\f071';
        position: absolute;
        left: 0;
        font-family: 'FontAwesome';
    }
}
