body.black .hero {
    border-bottom: 0;
    background: linear-gradient(30deg, #000000, #232323);

    #hero-curve {
        opacity: .07;
    }

    .hero-title {
        color: $white;
    }

    .hero-subtitle {
        color: transparentize($white, .3);
    }
}

body.orange .hero {
    border-bottom: 0;
    background: linear-gradient(45deg, $orange, #d46e47);

    #hero-curve {
        opacity: .07;
    }

    .hero-title {
        color: $white;
        text-shadow: 0 0 15px transparentize($black, .8);
    }

    .hero-subtitle {
        color: transparentize($white, .3);
        text-shadow: 0 0 15px transparentize($black, .8);
    }
}

body.tuleap-enterprise .hero {
    border-bottom: 0;
    background: linear-gradient(45deg, #293f50, $tuleap-enterprise);

    #hero-curve {
        opacity: .03;
    }

    .hero-title {
        color: $white;
        text-shadow: 0 0 15px transparentize($black, .8);
    }

    .hero-subtitle {
        color: transparentize($white, .3);
        text-shadow: 0 0 15px transparentize($black, .8);
    }
}

body.mytuleap .hero {
    border-bottom: 0;
    background: url('/assets/img/mytuleap-hero-background.png') no-repeat center bottom, linear-gradient(to bottom, #efeff6, #ffffff);
    background-size: contain, auto;

    .hero-title {
        color: $mytuleap;
    }

    .hero-subtitle {
        position: relative;
        z-index: 4;
        color: transparentize($mytuleap, .3);
    }
}

@media screen and (max-width: #{$mobile-screen-size}) {
    header.has-announcement + main > .hero {
        padding: calc(#{$header-height} + 40px) 0 0;
    }
}

.hero {
    position: relative;
    min-height: 250px + $header-height;
    margin: -$header-height 0 0;
    padding: $header-height 0 0;
    overflow-x: hidden;
    border-bottom: 1px solid transparentize($orange, .7);
    background: linear-gradient(45deg, #ececec, #ffffff);

    > .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #hero-curve {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 250px;
        opacity: .3;
    }
}

.hero-title {
    width: 100%;
    margin: 0;
    color: $grey;
    font-size: 52px;
    line-height: 74px;
    text-align: center;

    @media screen and (max-width: #{$tiny-screen-size}) {
        font-size: 46px;
        line-height: 68px;
    }

    @media screen and (max-width: #{$mobile-screen-size}) {
        font-size: 36px;
        line-height: 46px;
    }
}

.hero-subtitle {
    display: block;
    margin: 20px 0 0;
    color: transparentize($grey, .3);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
