/* stylelint-disable selector-no-qualifying-type */
body.pinned header {
    .header-mini-announcement {
        background: $white;
        box-shadow: 0 3px 3px transparentize($black, .9);

        @media screen and (max-width: #{$mobile-screen-size}) {
            top: -1000px;
        }
    }

    .header-announcement {
        align-self: stretch;
        justify-content: center;

        &::before {
            font-size: 60px;
            bottom: -15px;
        }

        .header-announcement-date {
            font-size: 12px;
            font-weight: 600;
        }
    }
}

body:not(.pinned) {
    &.black header {
        .header-mini-announcement {
            border-bottom: 1px solid transparentize($orange, .8);
            background: none;
            box-shadow: none;
            color: $white;

            .header-announcement-register > a {
                color: $orange;
            }
        }

        .header-announcement {
            color: $white;

            &::before {
                color: $white;
            }

            .header-announcement-date {
                color: $white;
            }
        }
    }

    &.tuleap-enterprise header,
    &.orange header {
        .header-mini-announcement {
            border-bottom: 1px solid transparentize($white, .8);
            background: none;
            box-shadow: none;
            color: $white;

            .header-announcement-register > a {
                color: $white;
            }
        }

        .header-announcement {
            color: $white;

            &::before,
            .header-announcement-date,
            .header-announcement-register > a {
                color: $white;
            }
        }
    }
}

.header-mini-announcement {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    padding: 0 10px 10px;
    color: $grey;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    .header-announcement-register {
        margin: 0 0 0 10px;
    }

    @media screen and (max-width: 1450px) {
        display: block;
    }
}

.header-announcement {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    min-width: 240px;
    padding: 10px 10px 10px 40px;
    overflow: hidden;
    color: $grey;
    font-size: 14px;
    font-weight: 600;

    @media screen and (max-width: 1450px) {
        display: none;
    }

    &::before {
        content: '\f0a1';
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 2px;
        transform: rotate(-22deg);
        opacity: .1;
        color: $red;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: 70px;
    }

    .header-announcement-text {
        text-align: right;
    }

    .header-announcement-date {
        margin: 3px 0 8px;
        opacity: .6;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: .3px;
    }

}

.header-announcement-flag {
    display: inline-block;
    margin: 0 5px 0 0;
    transform: rotate(-10deg);
    font-size: 20px;

    &:last-child {
        margin: 0 0 0 5px;
        transform: rotate(10deg);
    }
}

.header-announcement-register > a {
    color: $orange;
    font-weight: 600;
    text-decoration: underline;
}
