@use "./backbone/basic-elements";
@use "./backbone/form";
@use "./backbone/card";
@use "./backbone/header";
@use "./backbone/footer";
@use "./variables";

body {
    min-height: 100vh;
    padding: variables.$header-height 0 0;
    background: variables.$white;
    font-family: 'Public Sans Variable', Helvetica, Arial, sans-serif;

    &.modal-shown {
        height: 100vh;
        overflow: hidden;
    }

    @media screen and (max-width: #{variables.$tiny-screen-size}) {
        padding: variables.$header-pinned-height 0 0;
    }

    > main {
        min-height: calc(100vh - #{variables.$footer-height});

        .container {
            width: variables.$container-width;
            margin: 0 auto;
            padding: 50px 0;

            @media screen and (min-width: #{variables.$big-screen-size}) {
                max-width: variables.$big-screen-size;
            }

            @media screen and (max-width: #{variables.$small-screen-size}) {
                width: 100%;
                padding: 50px 20px;
            }
        }

        @media screen and (max-width: #{variables.$tiny-screen-size}) {
            min-height: calc(100vh - #{variables.$footer-height} + (#{variables.$header-height} - #{variables.$header-pinned-height}));
        }
    }
}
