body {
    min-height: 100vh;
    padding: $header-height 0 0;
    background: #ffffff;
    font-family: 'OpenSans', Helvetica, Arial, sans-serif;

    &.modal-shown {
        height: 100vh;
        overflow: hidden;
    }

    @media screen and (max-width: #{$tiny-screen-size}) {
        padding: $header-pinned-height 0 0;
    }

    > main {
        min-height: calc(100vh - #{$footer-height});

        .container {
            width: $container-width;
            margin: 0 auto;
            padding: 50px 0;

            @media screen and (min-width: #{$big-screen-size}) {
                max-width: $big-screen-size;
            }

            @media screen and (max-width: #{$small-screen-size}) {
                width: 100%;
                padding: 50px 20px;
            }
        }

        @media screen and (max-width: #{$tiny-screen-size}) {
            min-height: calc(100vh - #{$footer-height} + (#{$header-height} - #{$header-pinned-height}));
        }
    }
}

@import 'backbone/basic-elements';
@import 'backbone/form';
@import 'backbone/bordered-block';
@import 'backbone/card';
@import 'backbone/badge';
@import 'backbone/gradients';
@import 'backbone/step';

@import 'backbone/header';
@import 'backbone/nav-announcement';
@import 'backbone/footer';
@import 'backbone/accept-cookies-bar';
@import 'backbone/hero';
@import 'backbone/footer-section';
@import 'backbone/features-nav';
@import 'backbone/comparison-table';
