$-fa-font-path: "@fortawesome/fontawesome-free/webfonts/";

@use "pkg:@fortawesome/fontawesome-free/css/fontawesome.css";
@use "pkg:@fortawesome/fontawesome-free/scss/solid.scss" with (
    $fa-font-path: $-fa-font-path
);
@use "pkg:@fortawesome/fontawesome-free/scss/regular.scss" with (
    $fa-font-path: $-fa-font-path
);
@use "pkg:@fortawesome/fontawesome-free/scss/brands.scss" with (
    $fa-font-path: $-fa-font-path
);

@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/public-sans/scss" as public-sans;

@include fontsource.faces(
    $metadata: public-sans.$metadata,
    $weights: all,
    $formats: woff2
);
