@use "sass:color";

$mobile-screen-size: 500px;
$tiny-screen-size: 900px;
$small-screen-size: 1200px;
$big-screen-size: 1600px;

$container-width: 80%;

$header-height: 140px;
$header-pinned-height: 80px;
$footer-height: 160px;

$dark-color: #1b1512;
$white: #ffffff;
$typo-default-text-color: $dark-color;
$light-grey: color.mix($typo-default-text-color, $white, $weight: 70%, $method: rgb);

$orange: #ff6e30;
$light-blue: #3fc0d4;
$blue: #0073e4;
$purple: #954eb3;
$red: #dc3c36;

$user-guide: $orange;
$administration-guide: $red;
$installation-guide: $light-blue;
$deployment-guide: $blue;
$developer-guide: $purple;

$section-background: #f9f9f9;

// color name, color hexa, link hexa
$colors: ('orange', $orange, $orange),
         ('light-blue', $light-blue, $light-blue),
         ('blue', $blue, $blue),
         ('purple', $purple, $purple),
         ('red', $red, $red);

$guides: ('user-guide', $user-guide, $user-guide),
         ('administration-guide', $administration-guide, $administration-guide),
         ('installation-guide', $installation-guide, $installation-guide),
         ('deployment-guide', $deployment-guide, $deployment-guide),
         ('developer-guide', $developer-guide, $developer-guide);
