name: CI

permissions: {}

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:

jobs:
  formatting_linting:
    name: Check for formatting or linting issues
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - name: Build
        run: nix-shell --pure --run 'treefmt --ci'
  build_warning_nix:
    name: Build with warnings as errors using the environment provided by Nix
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@7ec16f2c061ab07b235a7245e06ed46fe9a1cab6 # v31.8.3
      - name: Build
        run: nix-shell --pure --run 'make SPHINXOPTS='-W' html'
  build_docker_image_theme_online_docs:
    name: Check build of the Docker image with the Tuleap online docs theme (docs.tuleap.com)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Build image
        run: docker build -f online-docs/Dockerfile -t test-build .
  build_docker_image_linkcheck:
    name: Check build of the Docker image used to run linkcheck
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Build image
        run: docker build -f build-support/linkcheck-docker.dockerfile -t test-build-linkcheck .
