name: CI

permissions: {}

on:
  push:
    branches:
      - master
      - '[0-9]+.[0-9]+'
  pull_request:

jobs:
  formatting_linting:
    name: Check for formatting or linting issues
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - name: Build
        run: nix-shell --pure --run 'treefmt --ci'
  build_warning_nix:
    name: Build with warnings as errors using the environment provided by Nix
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
      - name: Build
        run: nix-shell --pure --run 'make SPHINXOPTS='-W' html'
  build_docker_image_theme_online_docs:
    name: Check build of the Docker image with the Tuleap online docs theme (docs.tuleap.com)
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Build image
        run: docker build -f online-docs/Dockerfile -t test-build .
  build_docker_image_linkcheck:
    name: Check build of the Docker image used to run linkcheck
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Build image
        run: docker build -f build-support/linkcheck-docker.dockerfile -t test-build-linkcheck .
